/*=========Basic CSS============*/
*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:black;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/*=========Common CSS============*/
section{
    padding:50px 0px;
}
.row{
    width:1180px;
    margin:auto;
}
html{
    scroll-behavior: smooth;
}
/*=====================
      Reuseable CSS
======================*/
h3{
     font-size:40px;
     font-weight: 700;
     margin-bottom:15px;
     color: black;
     text-align: center;
}
h4{
    font-size:20px;
    text-align: center;
}

/*===========Header Section==============*/
header{
    height:100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(img/t10.jpg) no-repeat top center /cover ;
    background-attachment: fixed;
}
.head-text h2{
    animation-duration:4s;
}
.logo{
    float:left;
    margin-top:20px;
    height:30px;
}
.drop{
    float:right;
    margin-top:10px;
    font-size:20px;
    text-transform: uppercase;
}
nav ul li {
    list-style-type: none;
    float: left;
    margin:0px 10px;
}
nav.uk-sticky{
    background:#49535E;
}
nav ul li a{
    padding:5px;
    background:rgba(51, 144, 178, 0.69);
    border-radius:5px;  
    display: inline-block;
    color:aliceblue;
}
nav ul li a:hover{
    background:#F57B71;
    cursor:pointer;
-webkit-box-shadow: -1px 1px 8px 5px rgba(245,123,113,0.88); 
box-shadow: -1px 1px 8px 5px rgba(245,123,113,0.88);
}
.list a{
    display:block;
    margin:5px 0px;
    
}
.list{
    display:none;
}
.main:hover .list{
    display: block;
    text-align: center;
}
.head-text{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.head-text h2{
    font-size:30px;
    font-weight: 700;
    margin-bottom:20px;
    color:yellow;
}
.btn{
    background:#236A82;
    padding:10px;
    border-radius:5px;
    font-weight: 700;
    color:white;  
}
.btn:hover{
    background:#F57B71;
    cursor:pointer;
    -webkit-box-shadow: -1px 1px 8px 5px rgba(245,123,113,0.88); 
box-shadow: -1px 1px 8px 5px rgba(245,123,113,0.88);
}
.my-icon{
    position: absolute;
    left:0%;
    right:0%;
    bottom:40px;
    text-align: center;
}
.my-icon ion-icon{
    color:#fff;
    font-size:35px;
    position: relative;
    animation:scrol 1s ease infinite;
}
@keyframes scrol {
    0%{top:10px;}
    50%{top:30px;}
    100%{top:10px;}
}
/*=============Section 1 Start====================*/


.sec1{
    background:rgba(23, 194, 164, 0.88);
}
.sec1-grid-contain{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px 30px;
}
.sec1-grid-item{
    text-align: center;

}
.sec1-grid-item img{
    height:150px;
    margin-bottom:40px;
    
}
.sec1-text{
    text-align: center;
    
}

.sec1-text p{
    font-size:20px;
    margin-bottom:50px;
    color: black;
}
.sec1-grid-item h3,p{
    color:black;
}
.sec1 h3{
    animation-duration:4s;
}
/*=============Section End========================*/

/*=============Section 2 Start====================*/
.sec2{
    background:#e7f1f8;
}
.sec2-text{
    text-align: center;
}
.sec2-grid-contain{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap:0px 10px;
}
.sec2-grid-item {
    margin-top:50px;
    text-align: center;
}
.sec2-grid-item img{
    width:200px;
    height:200px;
    border-radius:50%;
    margin-bottom: 40px;
}


.sec2-grid-item ul li{
    list-style-type:none;
    display: inline-block;
    padding:10px;
    margin-top:30px;
    border-radius:50%;
    background:#CECECE;
    transition:1.5s;
    width:45px;
    height:45px;
}
.fa-brands{
    font-size:25px;

}
.sec2-grid-item span {
    margin-bottom:20px;
    display: inline-block;
    font-weight: 700;
}
.sec2-grid-item ul li:hover {
    transform: rotate(360deg);
    background:rgba(202, 44, 208, 0.75);
}
.sec2 h3{
    animation-duration:4s;
}
/*==========================
      Section 3 start
===========================*/
#sec3{
    background:#17c2a4;
}
.se3-grid-contain{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
.se3-grid-item{
    text-align: center;
}

#sec3 h3{
    animation-duration:4s;
}

/*============================
 Section 3 Jquery plugin CSS
==============================*/
svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #0d39cb;
  stroke-dashoffset: 219.91148575129; 
  stroke-width: 5;
}

svg.radial-progress circle.incomplete { opacity: 0.25; }

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }

svg.radial-progress text {
  fill: #fff;
  text-anchor: middle;
}
svg.cir2 circle {
    stroke:#d74680;
}
svg.cir3 circle {
    stroke:yellow;
}
svg.cir4 circle {
    stroke:#eb7d4b;
}

/*============Section-3 End======*/

/*==========================
      Section 4 start
===========================*/
.sec4{
    background:rgba(255, 221, 153, 0.68);
}
.sec4 h3{
    margin:0px;
}
.sec4 h4{
   margin-top:10px;
}
.btn-all{
    text-align: center;
    margin:20px 0px 50px 0px;
}
.btn-all button{
    padding:5px 8px;
    margin:0px 10px;
    cursor:pointer;
    background:rgba(121, 108, 83, 0.55);
}
.btn-all button:hover {
  -webkit-box-shadow: 0px 0px 10px 7px rgba(3,3,3,0.54); 
box-shadow: 0px 0px 10px 7px rgba(3,3,3,0.54);
}
.sec4-grid-contain{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-gap:10px 30px;
    margin:auto;
    width:80%;
}

.se4-grid-item p{
    font-size:15px;
    font-weight: 700;
    margin-top:15px;
}
.btm{
    text-align: center;
}
.se4-grid-item{
    text-align: center;
}
.sec4 h3{
    animation-duration:4s;
}
/*============Section-4 End======*/

/*============Section-5 Start======*/

.sec5{
    background:linear-gradient(rgba(215, 70, 128, 0.95),rgba(215, 70, 128, 0.96)),url(img/t9.jpg) no-repeat center /cover;
}
.sec5-head-text p{
     font-size:20px;
     font-weight: 700;
     margin-top:15px;
     text-align: center;
}

.sec5-img img{
    height:150px;
    width:150px;
    border-radius:50%;
}
.sec5-img{
    width:200px;
    float: left;
}
.sec5-grid-contain{
    display:grid;
    grid-template-columns:1fr 1fr;
    margin-top:50px;
}
.sec5-grid-item-main{
    margin: auto;
}
.sec5-grid-item{
    width:400px;
    height:250px;
}
.sec5-grid-item p{
    text-align: justify;
    margin-bottom:20px;
}
.sec5-grid-item h4{
    line-height:0px;
    text-align: right;
    font-weight: 700;
}
.sec5-grid-item span{
    text-align: right;
    display:block;
    font-weight: 700;
}
.sec5 h3{
    animation-duration:4s;
}
/*============Section-6 Start======*/
.sec6{
   background:linear-gradient(rgba(139, 60, 153, 0.62),rgba(190, 82, 195, 0.62)),url(img/t4.jpg) no-repeat center /cover;
    background-attachment: fixed;
}
.sec6 h4 {
    color:#31eab8;
    font-weight: 700;
}
.sec6 form {
    font-size:20px;
    text-align: center;
    width:75%;
    margin: auto;
}
.sec6 input[type="text"],
.sec6 input[type="mail"],
textarea {
    background: #273a71;
    padding:5px;
    width:100%;
    margin:10px;
    color:#f7f7f7;
}
.sec6-grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap:0px 10px;
    margin-top:40px;
}
.sec6 .fm{
    width:70%;
    margin: auto;
}
.down-btm{
    background: #30bae7;
    padding:5px 30px;
    border-radius:10px;
}
.down-btm:hover{
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
} 


/*=====Footer Section=======*/

.fot ul {
    text-align: center;
    margin-top:15px;
}
.fot ul li{
    list-style-type: none;
    display:inline-block;
}
.fot ul li a{
    width:70px;
    height:70px;
    display:inline-block;
    background:url(img/list.png);
    background-position:-12px -95px;
    border-radius:50%;
    margin:5px;
}
footer{
    padding:20px 0px;
    background:#273A71;
}
.fot ul li:nth-child(2) a {
    background-position:-303px -95px;
}
.fot ul li:nth-child(3) a {
    background-position:-521px -95px;
}
.fot ul li:nth-child(4) a {
    background-position:-591px -95px;
}

.to-top{
    text-align: center; 
}
.to-top .uk-totop {
    border:1px solid white;
    padding:5px;
    color:white;
}
.to-top .uk-totop svg{
    width:25px;
    height:25px;
}
.to-top .uk-totop:hover {
    background:#00D6D4;
     -webkit-box-shadow: 0px 0px 10px 7px rgba(3,3,3,0.54); 
box-shadow: 0px 0px 10px 7px rgba(3,3,3,0.54);
}